.pd {
    top: 10px;
}

.tt {
    left: 35px;
}

.non {
	display: none;
}

.res {
	padding-left: 12px;	
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
